{% extends "base_publico.html" %}
{% block title %}Ingresar{% endblock %}
{% block contenido %}
    <form method="POST">
        <h1 style="text-align:center; font-size:22px;">Iniciar sesión</h1>
        <label>Correo</label>
        <input type="email" name="correo" required>
        <label>Contraseña</label>
        <input type="password" name="contrasena" required>
        <button type="submit">Ingresar</button>
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
    </form>
    <a href="{{ url_for('registro') }}" class="volver">¿No tenés cuenta? Registrate</a>
{% endblock %}